---
import Layout from "@/layouts/Layout.astro";
import SimulationPanel from "@/components/SimulationPanel.svelte";
import SimulationRoot from "@/components/simulation/SimulationRoot.svelte";

const animalCount = 80;
const foodCount = 120;
---

<Layout>
	<div id="app">
		<SimulationRoot client:only="svelte" />
	</div>
</Layout>
