---
import Layout from "@/layouts/Layout.astro";
import SimulationPanel from "@/components/SimulationPanel.svelte";

const animalCount = 80;
const foodCount = 120;
---

<Layout>
	<div id="app">
		<SimulationPanel
			client:load
			initialAnimalCount={animalCount}
			initialFoodCount={foodCount}
		/>
	</div>
</Layout>
